<c-vars 
    type="text"
    placeholder=""
    value=""
/>
{% if label %}
<label 
    for="{{ name }}" 
    class="primary-label{% if label_class %} {{ label_class }}{% endif %}"
>{{ label }}</label>
{% endif %}

<input
    class="primary-input{% if class %} {{ class }}{% endif %}"
    type="{{ type }}"
    label="{{ label }}"
    value="{{ value | default:'' }}"
    
    {% if placeholder %}
        placeholder="{{ placeholder }}"
    {% endif %}

    name="{{ name }}"

    {% if id %}
        id="{{ id }}"
    {% endif %}

    {{ attrs }}
>
<div class="control-errors"></div>