{% load static %}
<nav class="navbar border-bottom fixed-top border-body">
    <!-- <div class="container"> -->
        <div class="container navbar-brand-container">
            <a
                class="navbar-brand" 
                href="{% url 'homepage_template' %}"
            >
                <c-logo 
                    class="navbar-logo"
                    width="60" 
                    height="60"
                />
            </a>
        </div>
      
    <!-- <div class="logout-wrapper">
        <form
            id="logout-form-id"
            action="{% url 'logout' %}"
            method="POST"
        >
        {% csrf_token %}
        <button
            class="btn btn-primary"
            type="submit"
        >Logout</button>
        </form>
    </div> -->
          
    <!-- </div> -->
</nav>