{% load i18n %}

<div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <c-sidebar.nav_item 
        href="{% url 'homepage_template' %}"
        text="{% trans 'Meus treinos' %}"
      />
      <c-sidebar.nav_item 
        href="{% url 'create_workout_template' %}"
        text="{% trans 'Criar treino' %}"
      />
      <c-sidebar.nav_item 
        href="{% url 'workout_history_template' %}"
        text="{% trans 'Histórico de treinos' %}"
      />
      <c-sidebar.nav_item 
        href="{% url 'profile_template' %}"
        text="{% trans 'Perfil' %}"
      />
    </ul>
    <hr>
    <div class="dropdown sidebar-bottom">
      <div href="#" class="d-flex align-items-center text-white text-decoration-none">
        <!-- <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"> -->
        <strong>{{ user.first_name }}</strong>
      </div>

      <div class="logout-wrapper">
        <form
            id="logout-form-id"
            action="{% url 'logout' %}"
            method="POST"
        >
        {% csrf_token %}
          <button class="logout-btn" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
              <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
            </svg>
          </button>
        </form>
    </div>
      <!-- <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><div class="dropdown-item">
          <form
              id="logout-form-id"
              action="{% url 'logout' %}"
              method="POST"
          >
          {% csrf_token %}
          <button
              class="btn btn-primary"
              type="submit"
          >Logout</button>
          </form>
        </div></li>
      </ul> -->
    </div>
  </div>