:root {
    --primary-color: hsl(219, 68%, 43%);
	--darker-primary-color: hsl(219, 69%, 30%);
	--lighter-primary-color: hsl(219, 68%, 53%);
}

.primary-btn {
  	background-color: var(--primary-color);
  	color: white;
	border-radius: 5px;
	border-width: 0px;
}

.primary-btn:hover {
	background-color: var(--darker-primary-color);
}

.primary-btn:active {
	background-color: var(--lighter-primary-color);
}


.input-errors{
	color: red;
}