<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Screen</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="icon-container">
        <img src="Icone.PNG">
    </div>
    <div class="login">
        <h2>E-mail:</h2>
        <input type="text" placeholder="Digite seu E-mail">
        <h2>Senha:</h2>
        <input type="password" placeholder="Digite sua Senha">
        <br>
        <br>
        <button>Login</button>

        <h4>Esqueceu a senha?</h4>
        <h4>Cadastre-se</h4>
    </div>

    <div class="container">
        <img class="left-image" src="img_login.jpg">
    </div> 
</body>
</html>