{% extends 'core/_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Completar treino' %}
{% endblock title %}



{% block content %}
<div class="container-fluid">
    <h1>{{ workout.title }}</h1>
    <c-primary-button
        type="submit"
        text="{% trans 'Completar' %}"
        formaction="{% url 'create_list_workouts_history' %}"
        id="complete-workout-submit-btn"
        value="{{ workout.id }}"
    />
    <div class="workout-excersise">
        {% for exercise in workout_exercises %}
        <div class="workout-exercise">
            <h3>{{ exercise.name }}</h3>
            <form>
                <c-input.primary
                    type="checkbox"
                    class="is-completed"
                    name="is_done"
                    value="true"
                />
                <c-input.primary
                    name="workout_exercise_id"
                    type="text"
                    value="{{ exercise.workout_exercise_id }}"
                    required
                    readonly
                    hidden
                />
                <c-input.primary
                    label="{% trans 'Séries' %}"
                    name="sets"
                    type="number"
                    required
                    min="0"
                    value="{{ exercise.sets }}"
                />
                <c-input.primary
                    label="{% trans 'Repetições' %}"
                    name="repetitions"
                    type="number"
                    required
                    min="0"
                    value="{{ exercise.repetitions }}"
                />
                <c-input.primary
                    label="{% trans 'Peso' %}"
                    name="weight"
                    type="number"
                    required
                    min="0"
                    value="{{ exercise.weight }}"
                />
                <c-input.primary
                    label="{% trans 'Descanso' %}"
                    name="rest_period"
                    type="number"
                    required
                    min="0"
                    value="{{ exercise.rest_period }}"
                />
            </form>
        </div>    
        {% endfor %}
    </div>
</div>
{% endblock content %}


{% block js %}
{{ context | json_script:"context-id" }}
<script type="module" src="{% static 'js/apps/gym/pages/complete-workout.js' %}"></script>
{% endblock js %}