{% extends 'core/_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Completar treino' %}
{% endblock title %}

{% block css %}
<link rel="stylesheet/less" type="text/css" href="{% static 'css/pages/completeWorkout.less' %}"/>
{% endblock css %}

{% block content %}
<div class="container-fluid">
    <div class="head">
        <h1>{{ workout.title }}</h1>
        <c-primary-button
            type="submit"
            text="{% trans 'Completar' %}"
            formaction="{% url 'create_list_workouts_history' %}"
            id="complete-workout-submit-btn"
            value="{{ workout.id }}"
        />
    </div>
    <hr>
    <div class="workout-exercises">
        {% for exercise in workout_exercises %}
        <div class="workout-exercise">
            <form>
                <div class="header">
                    <c-input.checkbox
                        class="is-completed"
                        name="is_done"
                        value="true"
                    />
                    <h4 class="exercise-name">{{ exercise.name }}</h4>
                </div>
                <hr>
                <c-input.primary
                    name="workout_exercise_id"
                    type="text"
                    value="{{ exercise.workout_exercise_id }}"
                    required
                    readonly
                    hidden
                />
                <c-input.primary
                    label="{% trans 'Séries' %}"
                    name="sets"
                    type="number"
                    required
                    min="0"
                    value="{{ exercise.sets }}"
                />
                <c-input.primary
                    label="{% trans 'Repetições' %}"
                    name="repetitions"
                    type="number"
                    required
                    min="0"
                    value="{{ exercise.repetitions }}"
                />
                <c-input.primary
                    label="{% trans 'Peso' %}"
                    name="weight"
                    type="number"
                    required
                    min="0"
                    value="{{ exercise.weight }}"
                />
                <c-input.primary
                    label="{% trans 'Descanso' %}"
                    name="rest_period"
                    type="number"
                    required
                    min="0"
                    value="{{ exercise.rest_period }}"
                />
            </form>
        </div>    
        {% endfor %}
    </div>
</div>
{% endblock content %}


{% block js %}
{{ context | json_script:"context-id" }}
<script type="module" src="{% static 'js/apps/gym/pages/complete-workout.js' %}"></script>
{% endblock js %}