{% extends 'core/_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Criação de treino' %}
{% endblock title %}


{% block content %}
<c-create-update-workout
    title="{% trans 'Criação de Treinos' %}"
    submit_btn_text="{% trans 'Criar treino' %}"
    submit_btn_endpoint="{% url 'create_list_workouts' %}"
/>
{% endblock content %}


{% block js %}
{{ context | json_script:"context-id" }}
<script type="module" src="{% static 'js/pages/create-workout.js' %}"></script>
{% endblock js %}