{% extends 'core/_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Create Workout' %}
{% endblock title %}

{% block css %}
<link rel="stylesheet/less" type="text/css" href="{% static 'css/pages/submitWorkout.less' %}"/>
{% endblock css %}


{% block content %}
<c-submit-workout
    title="{% trans 'Create workout' %}"
    :submit_btn="{
        'formaction': '{% url 'create_list_workouts' %}',
        'formmethod': 'POST',
        'text': '{% trans 'Save' %}',
    }"
/>
{% endblock content %}


{% block js %}
{{ context | json_script:"context-id" }}
<script type="module" src="{% static 'js/apps/gym/pages/create-workout.js' %}"></script>
{% endblock js %}