{% extends 'core/_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Home{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
<div class="container-fluid">
    <div 
        class="workouts-list"
        x-data="{ 
            deleteWorkoutUrl: '',
            workoutId: '',
        }"
    >
        <c-input.primary
            name="query"
            class="search-input"
            placeholder="{% trans 'Buscar' %}"
            hx-get="{% url 'create_list_workouts' %}"
            hx-trigger="keyup delay:500ms changed"
            hx-target=".list-body"
        />
        <div class="list-body">
            {% for workout in context.workouts.data %}
            <c-workout-list-item
                :workout="{{ workout | safe | escape }}"
            />  
            {% endfor %}
        </div>  
        
        <c-modal.base
            id="delete-workout-modal-id"
            dialog_class="modal-dialog-centered"
        >
            <c-modal.header>
                <c-modal.title>{% trans 'Excluir treino' %}</c-modal.title>
                <c-modal.close-button/>
            </c-modal.header>
            <c-modal.body>
                <div>{% trans 'Voce tem certeza que voce deseja excluir este treino?' %}</div>    
            </c-modal.body>
            <c-modal.footer>
                <c-button.secondary
                    text="{% trans 'Cancelar' %}"
                    data-bs-dismiss="modal"
                />
                <c-button.danger
                    x-bind:hx-delete="deleteWorkoutUrl"
                    @click="
                        const workoutElement = document.querySelector(`.workout-list-item[data-workout-id='${workoutId}']`);
                        workoutElement.remove();
                    "
                    id="delete-workout-btn-id"
                    text="{% trans 'Excluir treino' %}"
                    data-bs-dismiss="modal"
                />
            </c-modal.footer>
        </c-modal.base>
    </div>
</div>
{% endblock content %}

{% block js %}
{{ context | json_script:"context-id" }}
<script type="module" src="{% static 'js/apps/gym/pages/homepage.js' %}"></script>
{% endblock js %}