{% extends 'core/_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Home{% endblock title %}

{% block css %}
<link rel="stylesheet/less" type="text/css" href="{% static 'css/pages/homepage.less' %}"/>
{% endblock css %}

{% block content %}
<div class="container-fluid">
    <h4>{% trans 'My workouts' %}</h4>
    <hr>
    <div 
        class="workouts-list"
        x-data="{ 
            deleteWorkoutUrl: '',
            workoutId: '',
        }"
    >
        <c-input.primary
            name="query"
            label="{% trans 'Find workout' %}"
            class="search-input"
            placeholder="{% trans 'Workout name' %}"
            hx-get="{% url 'create_list_workouts' %}"
            hx-trigger="keyup delay:500ms changed"
            hx-target=".list-body"
        />
        <div class="list-body {% if not context.workouts.data %}empty{% endif %}">
            {% for workout in context.workouts.data %}
            <c-workout-list-item
                :workout="{{ workout | safe | escape }}"
            />            
            {% endfor %}
        </div>  
        
        <c-modal.base
            id="delete-workout-modal-id"
            dialog_class="modal-dialog-centered"
        >
            <c-modal.header>
                <c-modal.title>{% trans 'Delete workout' %}</c-modal.title>
                <c-modal.close-button/>
            </c-modal.header>
            <c-modal.body>
                <div>{% trans 'Are you sure you want to delete this workout?' %}</div>    
            </c-modal.body>
            <c-modal.footer>
                <c-button.secondary
                    text="{% trans 'Cancel' %}"
                    data-bs-dismiss="modal"
                />
                <c-button.danger
                    x-bind:hx-delete="deleteWorkoutUrl"
                    @click="
                        const workoutElement = document.querySelector(`.workout-list-item[data-workout-id='${workoutId}']`);
                        workoutElement.remove();
                        const listContent = document.querySelector('.list-body');
                        if (!listContent.children.length) {
                            listContent.classList.add('empty');
                        }
                    "
                    id="delete-workout-btn-id"
                    text="{% trans 'Delete' %}"
                    data-bs-dismiss="modal"
                />
            </c-modal.footer>
        </c-modal.base>
    </div>
</div>
{% endblock content %}

{% block js %}
{{ context | json_script:"context-id" }}
<script type="module" src="{% static 'js/apps/gym/pages/homepage.js' %}"></script>
{% endblock js %}