{% extends 'core/_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Atualização de Treinos' %}
{% endblock title %}

{% block content %}
<c-submit-workout
    title="{% trans 'Atualização de Treinos' %}"
    :submit_btn="{
        'formaction': '{% url 'update_detail_delete_workouts' workout.pk %}',
        'formmethod': 'PUT',
        'text': '{% trans 'Atualizar treino' %}',
    }"
/>
{% endblock content %}

{% block js %}
{{ context | json_script:"context-id" }}
<script type="module" src="{% static 'js/apps/gym/pages/update-workout.js' %}"></script>
{% endblock js %}