{% extends 'core/_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Histórico de treinos' %}
{% endblock title %}

{% block css %}
<link rel="stylesheet/less" type="text/css" href="{% static 'css/pages/workoutHistory.less' %}"/>
{% endblock css %}

{% block content %}
<div class="container-fluid">
    <div 
        class="workout-history-list"
        x-data="{ 
            workoutId: '',
        }"
    >
        <div class="header">
            <h4>{% trans 'Histórico de treinos' %}</h4>
        </div>
        <hr>
        <c-input.primary
            name="query"
            class="search-input"
            placeholder="{% trans 'Buscar' %}"
            hx-get="{% url 'create_list_workouts' %}"
            hx-trigger="keyup delay:500ms changed"
            hx-target=".list-content"
        />
        <div class="list-content">
            {% for workout in workout_histories.data %}
            <c-workout-history.list-item
                :workout="{{ workout | safe | escape }}"
            />
            {% endfor %}
        </div>  
    </div>
</div>
{% endblock content %}


{% block js %}
{{ context | json_script:"context-id" }}
<!-- <script type="module" src="{% static 'js/apps/gym/pages/workouts-history.js' %}"></script> -->
{% endblock js %}