{% extends 'core/_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Workout History' %}
{% endblock title %}

{% block css %}
<link rel="stylesheet/less" type="text/css" href="{% static 'css/pages/workoutHistory.less' %}"/>
{% endblock css %}

{% block content %}
<div class="container-fluid">
    <div 
        class="workout-history-list"
        x-data="{ 
            workoutId: '',
        }"
    >
        <div class="header">
            <h4>{% trans 'Workout history' %}</h4>
        </div>
        <hr>
        <div class="filters">
            <div>
                <c-primary-select
                    label="{% trans 'Find by workout' %}"
                    name="title"
                    :options="{{ workout_histories_select_options | safe | escape }}"
                    hx-get="{% url 'create_list_workouts_history' %}"
                    hx-trigger="change"
                    hx-include="[name='start_date'],[name='end_date']"
                    hx-target=".list-content"
                />
            </div>
    
            <div class="date">
                <div>
                    <c-input.primary
                        type="date"
                        name="start_date"
                        label="{% trans 'Start' %}"
                        hx-get="{% url 'create_list_workouts_history' %}"
                        hx-trigger="change"
                        hx-include="[name='title'],[name='end_date']"
                        hx-target=".list-content"
                    />
                </div>
                
                <div>
                    <c-input.primary
                        type="date"
                        name="end_date"
                        label="{% trans 'End' %}"
                        hx-get="{% url 'create_list_workouts_history' %}"
                        hx-trigger="change"
                        hx-include="[name='title'],[name='start_date']"
                        hx-target=".list-content"
                    />
                </div>
            </div>
        </div>
        <div class="list-content{% if not workout_histories.data %} empty{% endif %}">
            {% for workout in workout_histories.data %}
            <c-workout-history.list-item
                :workout="{{ workout | safe | escape }}"
            />
            {% endfor %}
        </div>  
    </div>
</div>
{% endblock content %}


{% block js %}
{{ context | json_script:"context-id" }}
{% endblock js %}