.head {
    display: flex;
    justify-content: space-between;
}

.workout-exercises {
    // border: 1px solid white; /* Vertical line */
    // border-radius: 10px; /* Rounded corners */
    // padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two equal-width columns */
    gap: 10px; /* Adds space between the grid items */
}

.workout-exercise {
    border: 1px solid white; /* Vertical line */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
}

.workout-exercise .header {
    display: flex;
    align-items: center;
    // display: flex;
    // justify-content: space-between;
    // border: 1px solid white; /* Vertical line */
    // border-radius: 10px; /* Rounded corners */
    // padding: 10px;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr); /* Creates two equal-width columns */
    // gap: 10px; /* Adds space between the grid items */
}


.exercise-name {
    margin: 0;
}


.frequency {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}