.filters {
    margin-bottom: 20px;
}

.filters {
    // max-width: 292px;
    display: flex;
    justify-content: space-between;
}

.filters .date{
    display: flex;
    // i want then to be on the right side
    // justify-content: flex-start;
    gap: 10px;
}

.list-content {
    border: 1px solid white; /* Vertical line */
    border-radius: 10px; /* Rounded corners */
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two equal-width columns */
    gap: 10px; /* Adds space between the grid items */
}

.workout-history-item {
    border: 1px solid white; /* Vertical line */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
}

.workout-history-item .header {
    display: flex;
    justify-content: space-between;
}

.exercises-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.exercise-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a3a3a; /* Dark gray background */
    padding: 5px 20px;
    border-radius: 5px; /* Rounded corners */
    color: white; /* White text */
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.exercise-item .info {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.list-content.empty {
    display: flex; /* Override grid for empty state */
    justify-content: center;
    align-items: center;
    color: gray;
}


.list-content.empty::before {
    content: "Voce ainda não concluiu nenhum treino.";
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    height: calc(-270px + 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
}