:root {
    --input-color: hsl(0, 0%, 95%); /* Example for color */
  }


.base-input{
    background-color: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 94%);
}

.base-input:focus{
    background-color: hsl(0, 0%, 10%);
    color: var(--input-color);
    border-color: rgb(244, 244, 244);
    outline: 2px solid #ffffff00; /* Custom color for the outline */
    box-shadow: 0 0 1px #000000;
}

.base-input-label{
    color: rgb(255, 255, 255);
}

.base-input::placeholder{
    color: hsl(0, 0%, 94%);
}

.base-input-error-message{
    color: rgb(255, 30, 30);
}