.container-fluid {
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: hsl(0, 0%, 0%);
}

.fitlife-logo {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    /* margin-bottom: 20px; */
}

.form-container {
    display: flex;
    flex-direction: center;
}