{% load i18n %}
<div 
    class="exercise-form-card" 
    data-exercise-id="{{ exercise_id }}"
>
    <div class="exercise-form-card-header">
        <div class="exercise-form-card-title">{{ name }}</div>
        <c-close-button
            class="exercise-form-card-close-btn"
        />
    </div>
    <hr>
    <div class="exercise-form-card-content">
        <c-primary-input
            label="{% trans 'Séries' %}"
            name="sets"
            type="number"
            required
            min="0"
            value="0"
        />
        <c-primary-input
            label="{% trans 'Repetições' %}"
            name="reps"
            type="number"
            required
            min="0"
            value="0"
        />
        <c-primary-input
            label="{% trans 'Peso' %}"
            name="weight"
            type="number"
            required
            min="0"
            value="0"
        />
        <c-primary-input
            label="{% trans 'Descanso' %}"
            name="rest_period"
            type="number"
            required
            min="0"
            value="0"
        />
        <c-primary-textarea
            label="{% trans 'Notas' %}"
            name="notes"
            placeholder="{% trans 'Suas notas sobre o exercício' %}"
            rows="5"
            cols="50"
        />
    </div>
</div>