<div 
    class="modal fade{% if class %} {{ class }}{% endif %}" 
    id="{{ id }}" 
    tabindex="-1" 
    aria-labelledby="{{ aria_labelledby }}" 
    aria-hidden="{{ aria_hidden }}"

    {% if static %}
    data-bs-backdrop="static" 
    {% endif %}

    {% if keyboard %}
    data-bs-keyboard="false"
    {% endif %}
>
    <div class="modal-dialog{% if dialog_class %} {{ dialog_class }}{% endif %}">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ title }}</h1>
          <button 
            type="button" 
            class="btn-close" 
            data-bs-dismiss="modal" 
            aria-label="Close"
            ></button>
        </div>
        <div class="modal-body">
            {{ slot }}
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>