{% load i18n %}

{% comment %}
For some reason this django-cotton component can access the view context variables
directly, so we don't need to pass them as props.
{% endcomment %}

<div class="container-fluid">
    <div class="main-container">
        <div class="workout-content-container">
            <div class="head">
                <h4>{{ title }}</h4>
                <c-primary-button
                    type="submit"
                    id="submit-workout-btn-id"
                    text="{{ submit_btn.text }}"
                    formaction="{{ submit_btn.formaction }}"
                    formmethod="{{ submit_btn.formmethod }}"
                />
            </div>
            <hr>
            <c-error-alert id="errors-alert-id"/>
            
            <form id="workout-form-id">
                {% if workout %}
                    <div>
                        <c-input.primary
                            name="workout_id"
                            required
                            readonly
                            hidden
                        />
                    </div>    
                {% endif %}
                <div>
                    <c-input.primary
                        label="{% trans 'Workout title' %}"
                        name="title"
                        required
                        value="{{ workout.title | default:None }}"
                    />
                </div>
                <div>
                    <c-primary-textarea
                        label="{% trans 'Workout description' %}"
                        name="description"
                        value="{{ workout.description | default:None }}"
                        rows="5"
                        cols="50"
                    />
                </div>
            </form>

            <div id="selected-exercises-id">
                {% if workout_exercises %}
                    {% for workout_exercise in workout_exercises %}
                        <c-exercise-form-card
                            :workout_exercise="{{ workout_exercise | safe | escape }}"
                        />
                    {% endfor %}            
                {% endif %}
            </div>
        
        </div>
        
        <div class="search-exercise-container">
            <div class="filters">
                <div>
                    <c-primary-select
                        label="{% trans 'Muscles' %}"
                        name="muscle"
                        id="muscle-select-id"
                        :options="{{ context.muscles | safe | escape }}"
                    />
                </div>
                <div>
                    <c-primary-select
                        label="{% trans 'Equipments' %}"
                        name="equipment"
                        id="equipment-select-id"
                        :options="{{ context.equipments | safe | escape }}"
                    />
                </div>
                <div>
                    <c-input.primary
                        name="{% trans 'Find exercise' %}"
                        id="search-exercise-input-id"
                    />
                </div>
            </div>
            <hr>
            <div id="exercises-select-root">
            {% for exercise in context.exercises %}
                <c-exercise-select-button
                    value="{{ exercise.value }}"
                    name="{{ exercise.text }}"
                />
            {% endfor %}
            </div>
        </div>
    </div>
    
    <template id="exercise-select-btn-template-id">
        <c-exercise-select-button/>
    </template>
    
    <template id="exercise-form-card-template-id">
        <c-exercise-form-card/>  
    </template>
</div>

