{% load i18n %}
<div 
    class="workout-list-item" 
    data-workout-id="{{ workout.id }}"
>
    <div class="header">
        <div class="title"><strong>{{ workout.title }}</strong></div>
        <div>

            <a 
                class="complete-workout-anchor btn btn-outline-light btn-sm"
                {% if workout %}
                href="{% url 'complete_workout_template' workout.id %}"
                {% endif %}
            >{% trans 'Start' %}</a>
            <a 
                class="edit-workout-anchor btn btn-outline-light btn-sm"
                {% if workout %}
                href="{% url 'update_workout_template' workout.id %}"
                {% endif %}
            >{% trans 'Edit' %}</a>
            <c-button.danger
                type="submit"
                class="delete-workout-btn-modal"
                data-delete-url="{% url 'update_detail_delete_workouts' workout.id %}"
                @click="
                    deleteWorkoutUrl = $el.getAttribute('data-delete-url');
                    workoutId = $el.closest('.workout-list-item').getAttribute('data-workout-id');
                    $nextTick(() => htmx.process(document.body));
                "
                text="{% trans 'Delete' %}"
                data-bs-toggle="modal" 
                data-bs-target="#delete-workout-modal-id"
            />
        </div>
    </div>
    <div class="exercises-list">
        {% for exercise in workout.exercises %}
        <div class="workout-exercise-item">
            <div class="name">{{ exercise.name }}</div>
            <div class="info">
                <div class="weight">{{ exercise.weight }} Kg</div>
                <div class="repetitions-sets">
                    <span class="repetitions">{{ exercise.repetitions }}</span>
                    <span>X</span>
                    <span class="sets">{{ exercise.sets }}</span>
                </div>
            </div>
        </div>
        {% if not forloop.last %}
            <hr class="workout-exercise-sep">    
        {% endif %}
        {% endfor %}
    </div>
</div>