{% load i18n %}
<div 
    class="list-item" 
    data-workout-id="{{ workout.id }}"
>
    <div class="header">
        <div class="title">{{ workout.title }}</div>
        <a 
            class="complete-workout-anchor"
            {% if workout %}
            href="{% url 'complete_workout_template' workout.id %}"
            {% endif %}
        >
            <c-primary-button
                class="complete-workout-btn"
                text="{% trans 'Completar' %}"
            />
        </a>
        <a 
            class="edit-workout-anchor"
            {% if workout %}
            href="{% url 'update_workout_template' workout.id %}"
            {% endif %}
        >
            <c-primary-button
                class="edit-workout-btn"
                text="{% trans 'Editar' %}"
            />
        </a>
        <c-primary-button
            type="submit"
            class="delete-workout-btn"
            text="{% trans 'Excluir' %}"
        />
    </div>
    <div class="exercises-list">
        {% for exercise in workout.exercises %}
        <c-workout-exercise-item
            :exercise="{{ exercise | safe | escape }}"
        />
        {% endfor %}
    </div>
</div>