{% load i18n %}
<div 
    class="workouts-list"
    data-endpoint="{% url 'create_list_workouts' %}"
>
    <c-primary-input
        name="value"
        class="search-input"
        placeholder="{% trans 'Buscar' %}"
    />
    <div class="workouts-root">
        {% for workout in workouts.data %}
        <c-workout-list-item
            :workout="{{ workout | safe | escape }}"
        />  
        {% endfor %}
    </div>
    <template id="workout-list-item-template-id">
        <c-workout-list-item/>
    </template>
    
    <template id="workout-exercise-item-template-id">
        <c-workout-exercise-item/>
    </template>
</div>