{% extends 'core/_base.html' %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <form 
        class="login-form-id" 
        action="{% url 'login' %}"
        data-errors-alert="#login-errors-alert"
        method="POST"
        novalidate
    >
        <div>
            <c-primary-input
                type="text"
                label="Your email"
                name="login"
                placeholder="Your email"
                required="True"
            />
        </div>
        <div>
            <c-primary-input
                type="password"
                label="Your password"
                name="password"
                placeholder="Your password"
                required="True"
            />
        </div>
        <div>
            <c-primary-button
                type="submit"
                text="Login"
                class="btn-primary"
            />
            <a 
                type="button"
                href="{% url 'signup_template' %}" 
                class="btn btn-secondary"
            >Sign up</a>
        </div>
        <div 
            class="alert alert-danger form-alert d-none" 
            role="alert"
            id="login-errors-alert"
        ></div>
    </form>
</div>

{% endblock content %}

{% block js %}
<script>
    document.querySelector('.login-form-id').addEventListener('submit', async function(event) {
        handleFormSubmit({ event })
    });
</script>
{% endblock js %}