{% extends 'core/_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <form 
        id="login-form-id" 
        action="{% url 'login' %}"
        data-errors-alert="#login-errors-alert"
        method="POST"
        novalidate
    >
        <div>
            <c-primary-input
                label="{% trans 'Seu email' %}"
                placeholder="{% trans 'Digite seu email' %}"
                type="email"
                name="login"
                required="True"
            />
        </div>
        <div>
            <c-primary-input
                label="{% trans 'Sua senha' %}"
                placeholder="{% trans 'Digite sua senha' %}"
                type="password"
                name="password"
                required="True"
            />
        </div>
        <div>
            <c-primary-button
                text="Login"
                type="submit"
                class="btn-primary"
            />
            <a 
                type="button"
                href="{% url 'signup_template' %}" 
                class="btn btn-secondary"
            >{% trans 'Cadastre-se' %}</a>
        </div>
        <div 
            class="alert alert-danger form-alert d-none" 
            role="alert"
            id="login-errors-alert"
        ></div>
    </form>
</div>

{% endblock content %}

{% block js %}
<script type="module" src="{% static 'js/pages/login.js' %}"></script>
{% endblock js %}