{% extends 'core/_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Login
{% endblock title %}

{% block css %}
<link rel="stylesheet/less" type="text/css" href="{% static 'css/pages/login.less' %}"/>
{% endblock css %}

{% block content %}
<div class="container-fluid">
    <c-logo/>
    <div class="login-form-wrapper">
        <form 
            id="login-form-id" 
            action="{% url 'login' %}"
            data-errors-alert="#login-errors-alert"
            method="POST"
            novalidate
        >
            <h4>{% trans 'Bem vindo ao FitLife' %}</h4>
            <hr>
             <div class="content-wrapper">
                 <div class="controls-wrapper">
                     <div>
                         <c-input.primary
                             label="{% trans 'Email' %}"
                             placeholder="{% trans 'Digite seu email' %}"
                             type="email"
                             name="login"
                             required="True"
                         />
                     </div>
             
                     <div>
                         <c-input.primary
                             label="{% trans 'Senha' %}"
                             placeholder="{% trans 'Digite sua senha' %}"
                             type="password"
                             name="password"
                             required="True"
                         />
                     </div>
                 </div>
                 <div class="buttons-container">
                     <c-button.primary
                         text="{% trans 'Fazer login' %}"
                         type="submit"
                         class="login-btn"
                     />
                     <p>
                         {% trans 'Ainda não tem uma conta?' %}
                         <a 
                             href="{% url 'signup_template' %}" 
                         >{% trans 'Cadastre-se' %}</a>
                     </p>
                 </div>
                 <div 
                     class="alert alert-danger form-alert d-none" 
                     role="alert"
                     id="login-errors-alert"
                 ></div>
             </div>
        </form>
    </div>
</div>

{% endblock content %}

{% block js %}
<script type="module" src="{% static 'js/pages/login.js' %}"></script>
{% endblock js %}
