{% extends 'core/_base.html' %}
{% load static i18n %}

{% block title %}
Perfil
{% endblock title %}

{% block css %}
<link rel="stylesheet/less" type="text/css" href="{% static 'css/pages/profile.less' %}"/>
{% endblock css %}

{% block content %}
<div class="container-fluid">
    <div class="user-info">
        <h3>{% trans 'Perfil' %}</h3>
        <hr>
        <form
            id="profile-form-id" 
            action="{% url 'update_user' %}" 
            method="POST"
            data-toast-id="update-profile-toast-id"
        >
            <div class="name">
                <div>
                    <c-input.primary
                        label="{% trans 'Nome' %}"
                        type="text"
                        name="first_name"
                        required="True"
                        value="{{ user.first_name }}"
                    />
                </div>
                <div>
                    <c-input.primary
                        label="{% trans 'Sobrenome' %}"
                        type="text"
                        name="last_name"
                        value="{{ user.last_name | default:None }}"
                    />
                </div>
            </div>
            <div>
                <c-input.primary
                    label="{% trans 'Data de nascimento' %}"
                    type="date"
                    name="birth_date"
                    value="{{ user.birth_date | date:'Y-m-d' | default:None }}"
                />
            </div>
    
            <hr>
            
            <div class="height-weight">
                <div>
                    <c-input.primary
                        label="{% trans 'Peso (Kg)' %}"
                        name="weight"
                        type="number"
                        min="0"
                        value="{{ user.weight | default:0 }}"
                    />
                </div>

                <div>
                    <c-input.primary
                        label="{% trans 'Altura (cm)' %}"
                        name="height"
                        step="0.01"
                        type="number"
                        min="0"
                        value="{{ user.height | default:0 }}"
                    />
                </div>
            </div>
            <hr>
            <c-button.primary
                text="{% trans 'Atualizar perfil' %}"
                type="submit"
                class="update-profile-btn"
            />
            <c-toast
                id="update-profile-toast-id"
            />
        </form>
    </div>

</div>
{% endblock content %}

{% block js %}
<script type="module" src="{% static 'js/pages/profile.js' %}"></script>
{% endblock js %}
