{% extends 'core/_base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
Sign up
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <form 
        id="signup-form-id" 
        action="{% url 'signup' %}"
        data-errors-alert="#signup-errors-alert"
        method="POST"
        novalidate
    >
        <div>
            <label for="name" class="primary-label">{% trans 'Seu nome' %}</label>
            <input 
                type="text" 
                class="primary-input"
                placeholder="Your first name"
                name="first_name"
                required
            >
            <div class="input-errors"></div>
        </div>
        <div>
            <label for="email" class="primary-label">{% trans 'Seu email' %}</label>
            <input 
                type="text" 
                class="primary-input"
                placeholder="email"
                name="email"
                required
            >
            <div class="input-errors"></div>
        </div>
        <div>
            <label for="password" class="primary-label">{% trans 'Sua senha' %}</label>
            <input 
                type="password" 
                class="primary-input"
                placeholder="Your password"
                name="password1"
                required
            >    
            <div class="input-errors"></div>
        </div>
        <div>
            <label for="password2" class="primary-label">{% trans 'Sua senha de novo' %}</label>
            <input 
                type="password" 
                class="primary-input"
                placeholder="Your password"
                name="password2"
                required
            >    
            <div class="input-errors"></div>
        </div>
        <div>
            <button 
                type="submit"
                class="btn btn-primary"
            >{% trans 'Criar conta' %}</button>

            <a 
                type="button"
                href="{% url 'login_template' %}" 
                class="btn btn-secondary"
            >{% trans 'Ir para login' %}</a>
        <div 
            class="alert alert-danger form-alert d-none" 
            role="alert"
            id="signup-errors-alert"
        ></div>
    </form>
</div>

{% endblock content %}


{% block js %}
<script type="module" src="{% static 'js/apps/user/pages/signup.js' %}"></script>
{% endblock js %}